<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon" href="/img/weather.png">
	<meta name="theme-color" content="#6B6F72"/>
    	<meta name="apple-mobile-web-app-capable" content="yes"/>
    	<meta name="apple-mobile-web-app-status-bar-style" content="#6B6F72"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img id="myPic" src="/img/my_pic.jpg">
		<p>I am Trideep Ghosh.I made this website for practicing my node.js Course</p>
		<p>As we have used two api to complete this website</p>
	</div>
	
	{{>footer}}
</body>
</html>
